<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>@PedroCamata</title>
        <meta name='description' content=''>
        <meta name='author' content='Pedro Camata Andreon'>

        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <!-- Fonts -->
        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

        <!-- Skeleton -->
        <link rel='stylesheet' href='../public/vendor/Skeleton-2.0.4/normalize.css'>
        <link rel='stylesheet' href='../public/vendor/Skeleton-2.0.4/skeleton.css'>

        <!-- Custom -->
        <link rel='stylesheet' href='../public/css/page.css'>

        <!-- Favicon 
<link rel='icon' type='image/png' href='../img/'>-->
    </head>

    <body>
        <div id="navbar" class="row">
            <div class="container">
                <span class="logo">Clone Twitter</span>
                <span class="search">
                    <input type="search" placeholder="Buscar">
                </span>
            </div>
        </div>

        <div id="page-head" class='row'>
            <div class="container">

                <div class="twelve columns">
                    <h1>@PedroCamata</h1>
                    <h2>Pedro Camata Andreon</h2>
                </div>

            </div>
        </div>

        <div class='container'>

            <div class="row send-box">
                <div class="twelve columns">
                    <textarea class="msg-textarea" placeholder="What are you thinking?"></textarea>
                    <button class="button-primary">Post</button>
                </div>
            </div>

            <h5 class="row post-head">Posts from @PedroCamata</h5>

            <div class="row">
                <post class="twelve columns">
                    <div class="twelve columns header">
                        <span class="username">
                            @PedroCamata
                        </span>
                        <span class="date">
                            22:34 25/08/2017
                        </span>
                    </div>
                    <div class="twelve columns">
                        Kooeeeeee rapaziaaaaaadaaaaaaaa!
                    </div>
                </post>
                <post class="twelve columns">
                    <div class="twelve columns header">
                        <span class="username">
                            @PedroCamata
                        </span>
                        <span class="date">
                            22:34 25/08/2017
                        </span>
                    </div>
                    <div class="twelve columns">
                        Kooeee rapaziaaaaaadaaaaa!
                    </div>
                </post>
                <post class="twelve columns">
                    <div class="twelve columns header">
                        <span class="username">
                            @PedroCamata
                        </span>
                        <span class="date">
                            22:34 25/08/2017
                        </span>
                    </div>
                    <div class="twelve columns">
                        Koe rapaziaadaaaa!
                    </div>
                </post>
                <post class="twelve columns">
                    <div class="twelve columns header">
                        <span class="username">
                            @PedroCamata
                        </span>
                        <span class="date">
                            22:34 25/08/2017
                        </span>
                    </div>
                    <div class="twelve columns">
                        Koe rapaziada
                    </div>
                </post>
                
            </div>
        </div>
    </body>

</html>