html {
    height: -10px;
}

body {
    background-color: azure;
}

/* navbar */
#navbar {
    background-color: #fff;
    border-bottom: solid 1px #000;
    padding: 10px;
}

#navbar .login {
    font-weight: bold;
    line-height: 35px;
}

input[type=search] {
    margin-bottom: 0px;
    border: solid 1px #000;
}

#navbar .search {
    text-align: right;
    float: right;
}

/* Page head */
#page-head {
    background-color: #fff;
    border-bottom: solid 2px #000;
    padding-top: 10px;
}

/* send-box */
.send-box {
    margin: 20px 0px 12px 0px;
}

.send-box .msg-textarea {
    display: inline-block;
    
    border-radius: 1rem;    
    background-color: #fff;
    border: solid 1px #000;
    padding: 10px 20px 20px 20px;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
}

.send-box button {
    display: inline-block;
    float: right;
}

/* post-head */
.post-head {
    margin-top: 50px;
    text-align: center;
}


/* Post css */
post:first-child {
    margin-top: 0px;
}

post {
    border-radius: 1rem;    
    background-color: #fff;
    border: solid 1px #000;
    padding: 10px 20px 20px 20px;
    margin-top: 20px;
}

post .header {
    font-weight: bolder;
    padding-bottom: 15px;
}

post .username {
    float: left;
}

post .date {
    float: right;
}